body {
  background-color: whitesmoke;
}
.header {
  font-size: 60px;
  font-family: sans-serif;
  position: relative;
  top: 15vh;
  /* left: 20vw; */
  text-shadow: 5px 5px lightgrey;
}
.solution {
  font-size: 30px;
  font-weight: lighter;
  font-family: sans-serif;
  position: relative;
  top: 10vh;
  /* left: 11vw; */
  text-shadow: 3px 3px lightgrey;
}