::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background-color: white;
}
.dp {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 200px;
  position: relative;
  top: 20vh;
  left: 20vw;
  transition: 0.5s;
}
.dp:hover {
  box-shadow: 0 0 70px lime, 0 0 70px cyan, 0 0 70px lime;
}
header {
  font-size: 30px;
  font-weight: lighter;
  font-family: sans-serif;
  color: cyan;
  position: relative;
  top: 7px;
  left: 41vw;
}
button {
  width: 300px;
  height: 100px;
  border: none;
  font-size: 30px;
  font-weight: 800;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px 2px red;
  background: linear-gradient(to left, lime, cyan);
  box-shadow: 0 0 0px lime, 0 0 10px cyan, 0 0 70px lime;
  border-radius: 50px;
  position: relative;
  top: 24vh;
  left: 345px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  box-shadow: 0 0 70px lime, 0 0 70px cyan, 0 0 70px lime;
}
